@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #000;
  --secundary-color: #f6f6f6;
  --tercery-color: #22d4fd;
  --hover-color: #272727;
  --primary-font: "Krona One", sans-serif;
  --secundary-font: "Montserrat", sans-serif;
}

.krona-one-regular {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--secundary-color);
}

.titulo-destaque {
  color: var(--tercery-color);
}

.apresentacao {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.imagem-perfil {
  width: 50%;
}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.cabecalho {
  padding: 2% 0% 0% 15%;
}
.cabecalho__menu {
  display: flex;
  gap: 80px;
}
.cabecalho__menu__link {
  font-family: var(--secundary-font);
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--tercery-color);
  text-decoration: none;
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-family: var(--primary-font);
}

.apresentacao__conteudo__texto {
  font-size: 1.5rem;
  font-family: var(--secundary-font);
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.apresentacao__links_subtitulo {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1.5rem;
}
.apresentacao__links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-family: var(--secundary-font);

  width: 50%;
  padding: 21.5px 0;
  text-align: center;
  text-decoration: none;
  color: var(--secundary-color);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  border: 2px solid var(--tercery-color);
}

.apresentacao__links__link:hover {
  background-color: var(--hover-color);
}

.rodape {
  color: var(--primary-color);
  background-color: var(--tercery-color);
  padding: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--secundary-font);
  font-weight: 400;
}

@media (max-width: 1200px) {
  .cabecalho {
    padding: 10%;
  }

  .cabecalho__menu {
    justify-content: center;
  }
  .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
  }

  .apresentacao__conteudo {
    width: auto;
  }
}
